@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ataclient-primary: mat.define-palette(mat.$light-blue-palette);
$ataclient-accent: mat.define-palette(mat.$brown-palette);

// The warn palette is optional (defaults to red).
$ataclient-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ataclient-theme: mat.define-dark-theme((
  color: (
    primary: $ataclient-primary,
    accent: $ataclient-accent,
    warn: $ataclient-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ataclient-theme);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0
}

[hidden] { display: none !important;}

$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-design-icons/iconfont/material-icons.css';
