mat-sidenav-container {
  width: 100vw;
  height: 100vh;
}

#battery-indicator {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  right: 8px;
  width: 26px;
  height: 12px;
}

#battery, #charge {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#level {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 8px;
  width: 20px;
  background-color: white;
}

#level.danger {
  background-color: #c40233;
}

#level.charge {
  background-color: #007b5f;
}

.dark-background {
  //background: #332b2b;
  background: black;
  margin: 0;
  padding: 8px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.sidebar {
  width: 266px;
  flex-grow: 0;
  background-color: #1C1C1E;
  color: white;
  box-sizing: border-box;
  //display: flex;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  padding: 16px;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  margin: 16px 8px;
  border-radius: 12px;
  margin-right: 0;
}

.sidebar * {
  //flex-grow: 1;
}

svg {
  flex-grow: 1;
}

@supports(padding: max(0px)) {
  .sidebar {
    padding-top: max(16px, env(safe-area-inset-top));
    padding-left: max(16px, env(safe-area-inset-left));
    padding-bottom: max(16px, env(safe-area-inset-bottom));
  }

  svg {
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);

  }
}

#toggleList {
  align-self: flex-start;
  //position: absolute;
  //top: 8px;
  //left: 8px;
}

text {
  fill: #fff;
  fill-opacity: 0.5;
  alignment-baseline: middle;
  text-anchor: middle;

  font-family: "SF Mono", SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}

.north text {
  fill-opacity: 1;
}

.compass-points {
  stroke: #0088BF;
  stroke-width: 4;
  fill: #000;
}

$colors: (
  "notice": #0088bf,
  "caution": #ffd300,
  "danger": #c40233,
  "safe": #fff
);

%ring {
  fill-opacity: 0.25;
}

%circle {
  stroke-opacity: 1;
  fill-opacity: 0;
  stroke-width: 4;
}

@each $name, $color in $colors {
  ##{$name} {
    path {
      @extend %ring;
      fill: $color;
    }

    circle {
      @extend %circle;
      stroke: $color;
      fill: #000;
    }
  }

  .airplane.#{$name} {
    path {
      stroke-width: 2;
      stroke-opacity: 0.75;
      stroke: #000;
      fill: #fff;
      animation: #{$name} 1666ms infinite;

      @keyframes #{$name}
      {
        0% {
          fill: #fff;
        }
        100% {
          fill: $color;
        }
      }

    }
  }

}

#legend {
  display: flex;
  justify-content: space-between;

  .item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .icon {
      width: 12px;
      height: 12px;
      border-radius: 8px;
      border: 2px solid black;
      @each $name, $color in $colors {
        &.#{$name} {
          border-color: $color;
          background-color: rgba($color, 0.25);
        }
      }
    }
    span {
      padding-left: 4px;
    }
  }
}
