mat-sidenav-container {
  width: 100vw;
  height: 100vh;
}

.dark-background {
  background: #332B2B;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 250px;
  flex-grow: 0;
  background-color: #424242;
  color: white;
  box-sizing: border-box;
  //display: flex;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
  padding: 16px;
  flex-direction: column;
}

.sidebar * {
  //flex-grow: 1;
}

svg {
  flex-grow: 1;
}

#toggleList {
  align-self: flex-start;
  //position: absolute;
  //top: 8px;
  //left: 8px;
}

text {
  fill: #fff;
  fill-opacity: 0.5;
  alignment-baseline: middle;
  text-anchor: middle;

  font-family: "SF Mono", SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 16px;
  font-weight: bold;
}

.north text {
  fill-opacity: 1;
}

.compass-points {
  stroke: #0088BF;
  stroke-width: 4;
  fill: #000;
}

$colors: (
  "notice": #0088BF,
  "caution": #FFD300,
  "danger": rgb(196, 2, 51),
  "safe": #fff
);

%ring {
  fill-opacity: 0.25;
}

%circle {
  stroke-opacity: 1;
  fill-opacity: 0;
  stroke-width: 4;
}

@each $name, $color in $colors {
  ##{$name} {
    path {
      @extend %ring;
      fill: $color;
    }

    circle {
      @extend %circle;
      stroke: $color;
      fill: #000;
    }
  }

  .airplane.#{$name} {
    path {
      stroke-width: 2;
      stroke-opacity: 0.75;
      stroke: #000;
      fill: #fff;
      animation: $name 1666ms infinite;

      @keyframes #{$name}
      {
        0% {
          fill: #fff;
        }
        100% {
          fill: $color;
        }
      }

    }
  }

}

#legend {
  display: flex;
  justify-content: space-between;

  .item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .icon {
      width: 12px;
      height: 12px;
      border-radius: 8px;
      border: 2px solid black;
      @each $name, $color in $colors {
        &.#{$name} {
          border-color: $color;
          background-color: rgba($color, 0.25);
        }
      }
    }
    span {
      padding-left: 4px;
    }
  }
}
