<ng-container *ngIf="!connected">
  <h2>Connecting to Server</h2>
  <p>Please wait while connecting.</p>
</ng-container>

<ng-container *ngIf="connected">
  <h2>{{airplanes ? 'Select your Airplane' : 'Searching for Airplanes&hellip;'}}</h2>
  <div>
    <mat-list>
      <mat-list-item *ngFor="let item of airplanes" (click)="itemSelected(item)">
        <h4 mat-line>
          {{(item.flightNumber || "Unknown").trim() | uppercase}}
          ({{item.nNumber | uppercase}})
        </h4>
        <p mat-line> {{item.proximity.distance | number: '1.1-1'}} NM - {{ item.heading | number:'1.0-0' }}&deg;</p>
      </mat-list-item>
    </mat-list>
  </div>
</ng-container>
